navbar{
    display: block; /* Makes the image a block element */
    margin-left: auto; /* Auto left margin */
    margin-right: auto; /* Auto right margin */
      }  
html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: font-family: 'Noto Sans Vithkuqi', sans-serif;
    font-family: 'Noto Serif Vithkuqi', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;;
}
.navbar{
    background-color: #FFF9E2;
    display: block; /* Makes the image a block element */
    margin-left: auto; /* Auto left margin */
    margin-right: auto;
}
    
.row{
    display:flex;
}
.column{
        flex: 50%;
        padding: 5px
}
.apple-store-button{
    width: 58%;
    height: 80%;
}
.googlestorebutton{
    width: 60%;
}

.gradient{
    background: rgb(253,222,222);
    background: linear-gradient(90deg, rgba(253,222,222,1) 33%, rgba(233,95,95,1) 100%);   
}

.col-lg-6{
    float: center;
}

.col-lg-6 img{
    float: right;
    text-align: right;
}
.heroimg{
    width: 75%;
    height: 75%;
    margin: 0 0 0 auto;
}

.page-header{
    margin-top: 3.5rem;
    font-size: 1.25rem;
    color: white;
}

p{
    padding-left: 5%;
    margin-left: 15%;
}

h2{
    padding-top: 5%;
    padding-left: 6%;
    margin-left: 25%;
}

.collage{
    width: 100%;
    height: 100%;
}
.feature {
    color: white;
}

.feature ul{
    padding-left: 2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.homescreen{
    width: 30%;
    height: 30%;
    padding-top: 2%;
}
